.btn_log {
    -fx-background-color: #9F2727;
    -fx-background-radius: 25;
}

.btn_cad {
    -fx-background-color: #FF0000;
    -fx-background-radius: 25;
    -fx-border-color: #9F2727;
    -fx-border-radius: 25;
    -fx-border-width: 4;
}

.textfield {
    -fx-background-color: #9F2727;
    -fx-background-radius: 20;
}

.btn_log:hover {
    -fx-background-color: #961414;
}

.btn_log:pressed {
    -fx-background-color: #a34040;
}

.btn_cad:hover {
    -fx-background-color: #961414;
    -fx-border-color: #961414;
    -fx-border-width: 0;
}

.btn_cad:pressed {
    -fx-background-color: #a34040;
    -fx-border-width: 0;
}

.btn_close {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25;
}

.btn_close:hover {
    -fx-background-color: #961414;
}

.btn_exit:hover {
    -fx-background-color: #961414;
}